body {
    background-color:#000;
}

header
{
    background-color: #000;
    height:50px;
    text-align:center;
    padding-top:10px;
}

.page-content
{
    color:black;
    text-align:center;
    margin-top:40%;
}