@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>bswing POC</title>
    <link href="~/Content/demo.css" rel="stylesheet" />
</head>
<body>
    <header id="top" role="banner">
        <div class="hamburger"></div>
        <div class="title">
            <h4>Uber Planning</h4>
        </div>
    </header>
    <div>
        
    </div>
</body>
</html>
